{{#if error}}

	<h2>Error</h2>
	<p>{{message}}</p>
	<p><a href="/">Try Again, Fumble Fingers!</a></p>
	
{{else}}

	<h1>The Tale of <b>{{username}}</b> and <b>{{friend}}</b></h1>
	<h3>
		One day <b>{{username}}</b> and <b>{{friend}}</b> were hanging out in <b>{{place}}</b> eating <b>{{dessert}}</b>. Along came a <b>{{animal}}</b> wearing a <b>{{color}}</b> wig. 
	</h3>
	<h3>
		Somehow, the <b>{{color}}</b> wig only made the <b>{{animal}}</b> seem more fearsome. <b>{{name}}</b> and <b>{{friend}}</b> were terrified! 
	</h3>
	<h3>
		As the <b>{{animal}}</b> approached, it became clear that it only wanted to share some of their <b>{{dessert}}</b>. <b>{{username}}</b> and <b>{{friend}}</b> were generous, and each gave the <b>{{animal}}</b> some of their <b>{{dessert}}</b>. 
	</h3>
	<h3>
		In gratitude, the <b>{{animal}}</b> gave <b>{{username}}</b> and <b>{{friend}}</b> a ride to <b>{{place2}}</b> on its back.
    </h3>

	<h3><a href="/">Do it again?</a></h3>

{{/if}}